# Supabase Info (Public)
EXPO_PUBLIC_SUPABASE_URL=https://hrhjwxtoylwrzwzhumnr.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY_HERE

# DeepL API
EXPO_PUBLIC_DEEPL_API_KEY=YOUR_DEEPL_API_KEY_HERE

# Google TTS API
EXPO_PUBLIC_GOOGLE_TTS_API_KEY=YOUR_GOOGLE_TTS_API_KEY_HERE

# Gemini API
EXPO_PUBLIC_GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
